<div class="wrapper">
  <div class=" navbar-minimize-fixed d-inline" (click)="minimizeSidebar()">
    <button
      class=" minimize-sidebar btn btn-link btn-just-icon"
      placement="right"
    >
      <i class=" jam-icons icon-align-center visible-on-sidebar-regular"> </i>
      <i class=" jam-icons icon-bullet-list-67 visible-on-sidebar-mini"> </i>
    </button>
  </div>
  <div class="sidebar" data="orange"><app-sidebar></app-sidebar></div>
  <div class="main-panel" data="orange">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>