
  <footer class=" footer">
    <div class=" container-fluid">
      <ul class=" nav">
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/jamal-digital-developer/" class="nav-link" target="_blank">About Me</a>
        </li>
      </ul>
      <div class=" copyright">
        © {{ date | date: "yyyy" }} made with
        <i class=" jam-icons icon-heart-2"> </i> by
        <a href="https://www.linkedin.com/in/jamal-digital-developer/">
          Jamal
        </a>
        for a POC.
      </div>
    </div>
  </footer>
  