<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Virus spread</h5>
              <h2 class=" card-title">Infected per week</h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <label
                  class=" btn btn-sm btn-warning btn-simple"
                  (click)="
                    data = datasets[0];
                    updateOptions();
                    clicked = true;
                    clicked1 = false;
                    clicked2 = false
                  "
                  [ngClass]="{ active: clicked === true }"
                >
                  <input checked="checked" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Belgium
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" jam-icons icon-single-02"> </i>
                  </span>
                </label>
                <label
                  class=" btn btn-sm btn-warning btn-simple"
                  (click)="
                    data = datasets[1];
                    updateOptions();
                    clicked = false;
                    clicked1 = true;
                    clicked2 = false
                  "
                  [ngClass]="{ active: clicked1 === true }"
                >
                  <input
                    class=" d-none d-sm-none"
                    name="options"
                    type="radio"
                  />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    France
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" jam-icons icon-gift-2"> </i>
                  </span>
                </label>
                <label
                  class=" btn btn-sm btn-warning btn-simple"
                  (click)="
                    data = datasets[2];
                    updateOptions();
                    clicked = false;
                    clicked1 = false;
                    clicked2 = true
                  "
                  [ngClass]="{ active: clicked2 === true }"
                >
                  <input class=" d-none" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Luxembourg
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" jam-icons icon-tap-02"> </i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="infectedPerWeek"> </canvas></div>
        </div>
      </div>
    </div>
    <!-- MAP -->
    <div class=" col-lg-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Global COVID infection by Locations</h4>
          <p class=" card-category">infected x1000</p>
        </div>
        <div class=" card-body">
          <div class=" row">
            <div class=" col-md-6">
              <div class="inlist table-responsive">
                <table class=" table">
                  <tbody>
                    <tr>
                      <td>
                        <div class=" flag">
                          <img alt="flag" src="assets/img/US.png" />
                        </div>
                      </td>
                      <td>USA</td>
                      <td class=" text-right">2.920</td>
                      <td class=" text-right">50%</td>
                    </tr>
                    <tr>
                      <td>
                        <div class=" flag">
                          <img alt="flag" src="assets/img/DE.png" />
                        </div>
                      </td>
                      <td>Germany</td>
                      <td class=" text-right">1.300</td>
                      <td class=" text-right">20.43%</td>
                    </tr>
                    <tr>
                      <td>
                        <div class=" flag">
                          <img alt="flag" src="assets/img/AU.png" />
                        </div>
                      </td>
                      <td>Australia</td>
                      <td class=" text-right">760</td>
                      <td class=" text-right">10.35%</td>
                    </tr>
                    <tr>
                      <td>
                        <div class=" flag">
                          <img alt="flag" src="assets/img/GB.png" />
                        </div>
                      </td>
                      <td>United Kingdom</td>
                      <td class=" text-right">690</td>
                      <td class=" text-right">7.87%</td>
                    </tr>
                    <tr>
                      <td>
                        <div class=" flag">
                          <img alt="flag" src="assets/img/RO.png" />
                        </div>
                      </td>
                      <td>Romania</td>
                      <td class=" text-right">600</td>
                      <td class=" text-right">5.94%</td>
                    </tr>
                    <tr>
                      <td>
                        <div class=" flag">
                          <img alt="flag" src="assets/img/BR.png" />
                        </div>
                      </td>
                      <td>Brasil</td>
                      <td class=" text-right">550</td>
                      <td class=" text-right">4.34%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class=" col-md-6 ml-auto mr-auto">
              <app-vector-map-component></app-vector-map-component>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Confirmed COVID-19 deaths</h5>
          <h3 class=" card-title">
            <i class=" jam-icons icon-bell-55 text-primary"> </i> 108,192
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartDeaths"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Confirmed COVID-19 cases</h5>
          <h3 class=" card-title">
            <i class=" jam-icons icon-delivery-fast text-info"> </i> 1,73M
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartCases"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Confirmed COVID-19 recovery cases</h5>
          <h3 class=" card-title">
            <i class=" jam-icons icon-send text-success"> </i> 416,127
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartRecovery"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
</div>
