<div class=" content">
    <div class=" row">
      <div class=" col-md-6">
        <div class=" card">
          <div class=" card-header">
            <h5 class=" card-category">News tab</h5>
            <h3 class=" card-title">News feed</h3>
          </div>
          <div class=" card-body">
            <tabset class="nav-pills-warning" type="pills">
              <tab heading="Belgium">
                Google Belgium covid feed here
              </tab>
              <tab heading="France">
                Google France covid feed here
              </tab>
              <tab heading="Luxembourg">
                Google Luxembourg covid feed here
              </tab>
            </tabset>
          </div>
        </div>
      </div>
      <div class=" col-md-6">
        <div class=" card">
          <div class=" card-header">
            <h5 class=" card-category">Live chat tab</h5>
            <h3 class=" card-title">Chat room</h3>
          </div>
          <div class=" card-body">
            <p>Chat component here</p>
          </div>
        </div>
      </div>
    </div>
    </div>
